<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonalRegister.Properties.Settings.PersonelVeriTabaniConnectionString"
            connectionString="Data Source=DESKTOP-D3E95OK;Initial Catalog=PersonelVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PersonalRegister.Properties.Settings.PersonalVeriTabaniConnectionString0"
            connectionString="Data Source=FIRAT;Initial Catalog=PersonalVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>